@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');
/* body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
} */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&family=Roboto:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Encode Sans', sans-serif;
}
